@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import './override/override.scss';

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--ui-01);
  .sub-layout {
    background-color: var(--white-01);
    border-radius: 2px;
    table {
      margin: 0! important;
    }
  }
  .shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

@media screen and (min-width: 992px) {
  body {
    .layout {
      padding: 40px;
      .sub-layout {
        padding: 6px;
      }
    }
  }
}

@media screen and (max-width: 991.9px) {
  body {
    .layout {
      padding: 20px 16px;
      .sub-layout {
        padding: 4px;
      }
    }
  }
}
